/*
 * Empty Stylesheet file.
 */

#anchor{
    -fx-background-image:url('bg22.jpg');
}
.BtnXO{
    -fx-text-align: center;
    /*-fx-border-color: #ffdd12;*/
    -fx-border-width:5px;
    -fx-border-radius: 10px;
    -fx-font: bold 20pt "Gotham";
    -fx-background-color: white;
    -fx-text-fill: #076b7a;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}
.BtnXO:hover{
    -fx-cursor: hand;
}
.BtnXO:selected{
    -fx-background-color: blue;
}
#btnBack{
    -fx-background-image:url('btnback.png');
    -fx-background-color: transparent;
}
#btnBack:hover{
    -fx-cursor:hand;
}